[2016-02-11 19:01] gvn opened #4 "set up Travis"
Run `npm run test:sass` with Travis.

[2016-02-16 17:54] #4 closed

[2016-02-16 17:54] gvn opened #6 "Add CONTRIBUTING.md"

[2016-02-16 20:53] gvn opened #9 "Add to npm"
Once this is ready for wider usage we should add it to npm.

[2016-02-17 21:42] vazquez opened #10 "Create a static page"
It would be great for us to have a static page to show off Foxlight to our peeps.

[2016-02-17 22:38] mmmavis opened #11 "How to include Foxlight in an app?"
:hamster:

I'm trying to apply Foxlight to an React app and wondering what the best way is to include it.

Currently I just
- npm install it
- add `@import './node_modules/foxlight/src/scss/foxlight.scss';` in the `index.scss` file in my app
- use https://www.npmjs.com/package/node-sass to compile SCSS

I then encountered some file not found problems:
eg. `Error: File to import not found or unread

[2016-02-18 17:23] gvn commented on #11
Hmm. A couple things: It's not really ready for use in our apps yet...is this a prototype?

My guess is that it's a pathing issue. Can you upload your code somewhere for me to take a look?

We'll need to add a pre-compiled version of Foxlight soon so you'd typically just include the compiled CSS in your project instead of compiling Foxlight yourself.

[2016-02-18 17:24] gvn opened #13 "Include compiled CSS"
Need to figure out the best way to include the compiled CSS so that people don't have to compile Foxlight themselves unless they really want to.

[2016-02-18 17:24] gvn commented on #11
Related:  https://github.com/mozilla/foxlight/issues/13

[2016-02-18 17:25] gvn commented on #10
Cool, I think I'll do this via a `gh-pages` branch to keep `master` simple.

[2016-02-18 22:35] mmmavis commented on #11
@gvn

Oh yea I totally understand it's still under development.  I just wanted to try it out - https://github.com/mmmavis/mozilla-clubs-resources :hamster:

[2016-02-22 19:31] gvn opened #16 "Put demo URL on repo"
Apparently I don't have permissions to set the repo URL to: http://mozilla.github.io/foxlight/demo/

[2016-02-26 01:23] #16 closed

[2016-02-26 01:24] #13 closed

[2016-02-26 01:24] #10 closed

[2016-02-26 01:27] gvn opened #21 "Determine recommendation for extending Foxlight"
Right now we're advising everyone to just use the compiled CSS, but it'd be nice to have a reasonable approach documented for people wanting to extend the SCSS in their project (e.g. use the color variables).

[2016-02-26 06:25] flukeout opened #22 "Test current Foxlight with TinyMCE"
Let's see if it's possible to integrate the current version of Foxlight into the TinyMCE instance in Calypso. * Is it easy to do?
* How does the editor behave with the Foxlight styles?
* What changes should we make as a result.

Assigned to @mmmavis

[2016-02-26 06:27] flukeout opened #23 "Create repo with 3 template types to test Foxlight"
We've decided to integrate Foxlight with three templates...
* Scrolling Clubs Guide
* Clubs Guide Resources page
* Recurring Event page

All of these will be powered by the Foxlight theme, to which we can add the necessary components.

Assigned to @flukeout

[2016-02-26 06:27] flukeout opened #24 "Give Flukeout admin or collaborators powers!"
I can't assign anyone or cc anyone or add labels!
Thanks!

cc @gvn

[2016-02-26 06:29] flukeout opened #25 "Create high fidelity design of 3-column-boxes-with-photos template."
This will be the third template type we'll test Foxlight with initially. Currently it only exists as "UI Tile" but we need more details in order to bring it to life.

Assigned to @vazquez

[2016-02-26 06:29] #25 closed

[2016-02-26 06:29] #24 closed

[2016-02-26 06:30] #22 closed

[2016-02-26 06:30] #23 closed

[2016-02-26 06:33] flukeout opened #26 "Add CDN style usage instructions to README.md"
Gavin, can you please add instructions for how to drop in these styles via a ``<link>`` tag? Cheers!

[2016-02-26 17:27] gvn opened #27 "Put CSS on CDN"
We should put the compiled Foxlight CSS on a proper CDN so that people can hotlink it if they don't want to use a package manager.

[2016-02-26 17:28] gvn commented on #26
#20 should resolve this!

[2016-02-26 21:24] cassiemc opened #28 "Integrate Mofo colour thinking"
We will soon have a refined Mofo-wide colour palette based on @kristinashu's [awesome work here](https://github.com/MozillaFoundation/Design/issues/139) which we'll need to integrate with Foxlight.

[2016-02-26 21:25] cassiemc opened #29 "Give me edit access to this repo please"
@simonwex? Someone? Suspect @hannahkane will need this too if she doesn't have it already to assign issues etc.

[2016-02-26 21:36] cassiemc opened #30 "Nail down the architecture of using sub-guides within Foxlight"
I think @gvn's plan to have subguides overwrite styles is good. With this ticket I'd like to make sure we are all on the same page. cc @flukeout @vazquez

If we want to test this we could start with a smaller subguide for Teach based on @kristinashu's [colour work here](https://github.com/MozillaFoundation/Design/issues/139 ). If the subguide only consisted of colors for now, that's fine, and may

[2016-02-26 21:36] hannahkane commented on #29
yes please and thank you

[2016-02-26 21:51] gvn commented on #30
I'm wondering if we should think of sub-guides and templates as the same thing?

Currently the architecture is like this:

**Foxlight** contains all the overarching style definitions and components.

**Foxlight Templates** exist in a separate repository and contain HTML markup for standard layouts as well as any custom styles unique to the individual temples (e.g. a very custom hero module that is

[2016-02-26 21:55] #11 closed

[2016-02-26 21:55] gvn commented on #29
I'd like admin access as well. I can't reach the `settings` view.

[2016-02-26 21:56] #26 closed

[2016-02-26 21:56] gvn commented on #21
Most likely this will be Webpack oriented.

[2016-02-26 21:59] gvn opened #31 "Finalize name"
We're currently using Foxlight, but I keep seeing Fox*lite* pop up.

Let's choose which one it's going to be before we get too far along. It affects #9 at a minimum.

CC: @vazquez @cassiemc

[2016-02-26 22:05] cassiemc opened #32 "Consider brand implications"
This may be a non-issue but I want to make sure we consider it. What are the brand implications of unofficial prototypes or community members using the very official-seeming foxlight? Any harm in making unofficial projects look official?

[2016-02-26 22:14] cassiemc commented on #31
Actually wondering if we want to call it foxlight at all. It makes me think it has something to do with firefox.

[2016-02-26 22:15] gvn commented on #31
I like it, but I could see that.

[2016-02-26 22:24] hannahkane opened #33 "Finalize design for "List" layout"
We've started the List layout, but during the March 11 heartbeat, we need to finalize. This should include:
 - [ ] design for specific use case (Clubs resources page) (p1)
 - [ ] generic design (p2)
 - [ ] design review and necessary revisions

[2016-02-26 22:27] hannahkane opened #34 "Finalize design for "Step-by-step with side nav" layout"
We've started this layout, but during the March 11 heartbeat, we need to finalize. This should include:
 - [ ] design for specific use case (Clubs Guides page) (p1)
 - [ ] generic design (p2)
 - [ ] design review and necessary revisions

[2016-02-26 22:28] hannahkane opened #35 "Finalize design for "Two-column, embedded video stream and etherpad" layout"
We've started this layout, but during the March 11 heartbeat, we need to finalize. This should include:
 - [ ] design for specific use case (Curriculum Workshop landing page) (p1)
 - [ ] generic design (p2)
 - [ ] design review and necessary revisions

[2016-02-26 22:30] hannahkane opened #36 "Finalize design for "Header image with CTA and CTAs in a row" layout"
We've started this layout, but during the March 11 heartbeat, we need to finalize. This should include:
 - [ ] design for specific use case (Letters to the Next President campaign) (p1)
 - [ ] generic design (p2)
 - [ ] design review and necessary revisions

[2016-02-26 23:06] hannahkane opened #37 "Write documentation: How to use Foxlight without the CMS"
We need to figure out and document what our process will be for production team members to make use of Foxlite beyond the CMS

[2016-02-29 19:01] simonwex commented on #29
Done!

(I added mofo-admin-staffonly with admin access and mofo-staffonly with write access)

[2016-02-29 19:01] #29 closed

[2016-02-29 19:07] gvn commented on #29
@simonwex I still can't reach the settings view. I'm assuming this is because I'm not part of the admin group?

[2016-02-29 19:28] simonwex commented on #37
@flukeout do you mind adding words to describe your colour-selection process you want documented?

[2016-02-29 20:22] gvn opened #39 "Create deploy script"
Create a npm script to push a build into `gh-pages`.

[2016-02-29 22:26] flukeout commented on #37
This applies to uses of Foxlight outside of Calypso, for example, if someone in our network has a vanilla HTML document that they want to style.

To do so, they could include the compiled Foxlight CSS with a ``link`` tag in their HTML document. However, there isn't a way for that author to then specify which of the primary colors in the Foxlight theme / Foundation branding scheme they want to use.

[2016-02-29 22:39] hannahkane commented on #33
Duped by https://github.com/mozilla/cms-template-styles/issues/3

[2016-02-29 22:39] #33 closed

[2016-02-29 22:40] hannahkane commented on #34
Duped by https://github.com/mozilla/cms-template-styles/issues/4

[2016-02-29 22:40] #34 closed

[2016-02-29 22:40] hannahkane commented on #35
Duped by https://github.com/mozilla/cms-template-styles/issues/5

[2016-02-29 22:40] #35 closed

[2016-02-29 22:41] hannahkane commented on #36
Duped by https://github.com/mozilla/cms-template-styles/issues/6

[2016-02-29 22:41] #36 closed

[2016-03-01 18:21] sabrinang commented on #32
I'd consider a more generic prefix like "moz" than "fox" as it implies ties to the larger mozilla brand than to the firefox brand.

[2016-03-01 18:33] cassiemc commented on #31
@gvn Presumably this is best as a single word?

[2016-03-01 18:48] vazquez commented on #31
Ideally, yes!

[2016-03-01 18:59] gvn commented on #31
Yep, that'd be excellent. :+1:

[2016-03-01 19:07] simonwex commented on #31
A small note from this morning's meeting.

The target audience is developers who are starting a new site that should implement the MoFo style guidelines. This will show up in NPM and under our Mozilla Github org.

I don't mind `foxlight` or `foxlite`. If we want something that's not associated with Firefox, the world is our oyster. `dapper`, `boots`, etc

[2016-03-01 20:53] cassiemc commented on #31
@simonwex To clarify then, it wouldn't ever be used within the CMS itself, nor would it be used without the CMS for non-developers? I recall lots of community members using makerstrap.

[2016-03-01 20:53] gvn commented on #31
Other ideas (that are available on npm too):

`lisica` (Bosnian word for "fox")
`vos` (Dutch)
`raposo` (Galician)

[2016-03-01 20:55] gvn commented on #31
TBH I do really like Foxlight, so that'd be my vote.

[2016-03-01 20:55] cassiemc commented on #31
@gvn Elaborate on why you like it?

[2016-03-01 20:57] gvn commented on #31
It's simple and catchy. I think "light" reflects the goal of it being a lightweight design system as well as general positivity (and it has a light feel to it, literally). "Fox", well, that's just Mozilla.

[2016-03-01 22:41] cassiemc commented on #31
What about Mozlight?

[2016-03-01 22:50] cassiemc commented on #31
Actually, I prefer Mozlite, if we are referring to a lightweight system.

[2016-03-02 18:05] cassiemc commented on #31
'light' is still problematic as could be misspelled lite. So while 'mozlight' solves one problem (decoupling from firefox) it doesn't solve the other. Here's a brainstorming doc, feel free to contribute: https://docs.google.com/document/d/1N5UDM_l9wTQ1bZdwMX3z-pmowopYADG2RpZxpVOkq28/edit

[2016-03-02 19:22] cassiemc commented on #31
Current frontrunners are Mozstyles (or Moztiles) and Mozmaker. I am leaning toward the latter for ease of spelling.

[2016-03-02 19:29] vazquez commented on #31
Voted on the doc. I like Mozmaker the best. :ok_hand:

[2016-03-03 18:03] cassiemc commented on #31
Let's go with Mozmaker!

[2016-03-03 18:03] #31 closed

[2016-03-03 18:06] cassiemc commented on #28
Who's the owner for this? @vazquez @gvn? The design team is going to test @kristinashu's current palette proposal. Those tickets can be tracked here: https://github.com/MozillaFoundation/Design/issues?q=is%3Aissue+is%3Aopen+label%3Acolour

@hannahkane should we postpone this to the next heartbeat? We should be in a better place to do this more finally at some point next week.

[2016-03-03 18:08] cassiemc commented on #30
@vazquez @flukeout @simonwex Thoughts?

I think this is important:

We very likely will reuse templates across sites/brands that will require minor variations in styles.

@gvn can I assign this to you?

[2016-03-03 18:09] gvn opened #41 "%s/foxlight/mozmaker/g"
Change the name everywhere.

[2016-03-03 18:43] hannahkane commented on #28
Fine with me to to postpone, though this heartbeat does go until the end of next week.

[2016-03-03 19:32] gvn commented on #30
Yep, totally

[2016-03-03 20:06] gvn opened #42 "Use mofo-style module"
Right now .sass-lint.yml is hardcoded. Let's switch to using the mofo-style module instead.

[2016-03-03 22:18] gvn commented on #32
@cassiemc Does this ticket still need to be open now that we renamed it?

[2016-03-03 22:20] gvn commented on #9
Slight quirk: It'd be best to have npm point to gh-pages, but I'm not sure if you can force it to pull from a non-default branch.

[2016-03-03 23:19] cassiemc commented on #28
Yeah if the designers get to it and yield results soon I should think we will be able to implement it fairly quickly.

[2016-03-03 23:20] gvn commented on #28
It should be pretty quick to add it once the colors are finalized. :+1:

[2016-03-03 23:21] cassiemc commented on #28
Cool! Assigning to you @gvn, feel free to undo if that's not accurate.

[2016-03-04 19:30] cassiemc commented on #32
This ticket has nothing to do with the name - really more to do with scenarios where a project that is not officially run by mozilla but looks like it is because it uses mozmaker. I'm not sure if we should release some kind of guidelines.

[2016-03-04 19:45] gvn commented on #32
Hmm. Anything we do can be co-opted by anyone and that's really the nature, and potentially double edged sword depending on your viewpoint, of open work.

Telling people outside Mozilla not to use it seems kind of un-Mozilla if that's what you mean.

In practice, I wouldn't personally be too concerned about it. We're not heavily promoting it outside of our internal channels.

[2016-03-04 19:47] cassiemc commented on #32
Nope, that's not what I mean. In theory Mozmaker could be accompanied by brand guidelines, or some other mitigation (that's what I want to do this ticket). It's my job to worry about brand! But I have no intentions to be un-mozilla :)

[2016-03-07 17:58] #42 closed

[2016-03-07 19:59] #41 closed

[2016-03-08 18:17] #39 closed

[2016-03-08 20:33] gvn commented on #30
I think this is addressed now. @vazquez  and I came up with a way of extending the templates with different sub-themes. Right now they're just palettes being swapped, but we could do other customization in a similar manner...

[2016-03-08 20:33] #30 closed

[2016-03-08 20:34] gvn commented on #37
I think this is covered by:
https://github.com/mozilla/mozmaker#usage

Closing...

[2016-03-08 20:34] #37 closed

[2016-03-08 21:06] #9 closed

[2016-03-09 22:40] flukeout opened #47 "Consider & choose from these icon treatments for the Resources page."
@vazquez I did some exploration work on different types and weights of icons and included a giant image below.

* **A** - Only icons up top
* **B** - Mix of larger and smaller, slightly different icons between sections
* **C** - Same icon everywhere

![resource-list-options](https://cloud.githubusercontent.com/assets/25212/13653168/d9828c7c-e604-11e5-86cc-13f2ecd6e5c2.png)

[2016-03-10 00:51] flukeout opened #48 "Consider updates the Curriculum Workshop pages."
After reflecting on the concerns about the amount of information on the workshop page raised by @vazquez and @cassiemc in their review, I thought a way to address that would be to break things up a bit. Instead of having one long landing page that contains the current workshop _and_ all the links to past and previous ones, we could have two separate pages...

* The workshops landing page with the

[2016-03-10 00:58] hannahkane commented on #48
@flukeout - I really like this. Seems like a very elegant solution.

To confirm I understand - the "View recording" links in the Past Workshops section would also go to the individual workshop pages?

I don't think this adds too much complexity. Agreed that the landing page is simple enough in this design to not require a template—will the fancy "Next workshop" section be achievable without a temp

[2016-03-10 10:48] chadsansing commented on #48
Works for me - does the landing page need any visual elements to break up the text that remains?

Let me cc @poh, as well, as he'll be working to update materials in his role as producer. @kgorr is also lending a helping hand in the production department, so cc-ing her, as well.

[2016-03-10 14:24] KGorr commented on #48
Thanks, @chadsansing. I really like this, and might suggest for our purposes that we never have more than 2 upcoming workshops listed. I think that would make it way to text heavy as Chad suggested. Will there be an opportunity to add images in the descriptions, should the user wish, to help break it up?

[2016-03-10 14:37] vazquez commented on #47
I like the important icons from **B3**

<img width="900" alt="screenshot 2016-03-10 09 31 07" src="https://cloud.githubusercontent.com/assets/1119821/13672458/e5c4c3da-e6a2-11e5-9ae3-dabca874d5c6.png">

I think the smaller icons in the general list don't add much value due to their size (I'm partial to the bigger icons in **C**). Therefore, maybe going with a straight bullet point list is enough.

[2016-03-10 16:45] chadsansing commented on #48
I'm gonna chime in again after more thought and consultations -  having the upcoming/current episode on the landing page is a big part of the inspiration from TTT and making the "work" of the program highly visible and workshoppy, Maybe we should keep it front and center?

[2016-03-10 17:02] ldecoursy commented on #48
+1 I'd suggest the main landing page as the place where people participate in the workshop is key, perhaps it's the archives that live on a separate page.

[2016-03-10 17:20] flukeout commented on #47
@vazquez I will throw in with **B3** as well - I'll ping the rest of the design team and we'll get a little vote going!

[2016-03-10 22:32] gvn opened #51 "don't run deploy.sh on a dirty branch"
It's easy to accidentally commit stuff to gh-pages, so the script should terminate early if this is the case.

[2016-03-10 22:34] flukeout commented on #47
I started work on a font icon for Mozmaker, here's some progress:
http://flukeout.github.io/mozmaker-icon-font/index.html

This will address the concern we have about needing differently colored icons per main theme color.

[2016-03-10 22:46] flukeout commented on #48
Thanks for the feedback everyone, I'll take another shot at a design that keeps the upcomign / current workshop on the main landing page.

[2016-03-10 23:14] gvn opened #52 "Add CI"
Add continuous integration for all new commits on master.

[2016-03-10 23:44] flukeout commented on #48
**An update to the original design**
This option uses a tabbed navigation at the top of the page to divide the content into 2 sections.
1. The current / upcoming workshop
2. Workshop description, schedule and archives

Archived workshops would have their own page and would appear similarly to the page on the left (but without the navigation).

The rationale for this design is to emphasize the work

[2016-03-11 00:26] hannahkane commented on #48
Nice, @flukeout. I really like this solution—seems to solve the hierarchy problem, while keeping the upcoming workshop front and center.

[2016-03-11 19:16] vazquez opened #54 "Discuss the Mozmaker Name"
During our Demo call, @davidascher pointed out the significance of choosing a name for contributors and the open-source community. Maybe we haven't hit the mark with `Mozmaker` just yet.

Let's reopen the discussion of the Mozmaker name.

cc: @cassiemc @gvn @flukeout

[2016-03-11 20:22] davidascher commented on #54
In particular, let's think about who the audience for the name is, and what
we want the name to convey/imply.  And let's also consider, un-brandy name
(e.g. "mofo-bootstrap4-theme") as potential options.

--da

On Fri, Mar 11, 2016 at 11:16 AM Ricardo Vazquez <notifications@github.com>
wrote:

[2016-03-11 20:37] gvn commented on #54
Bear in mind that this is the prefix for several other projects, so a simple 1 word name is best.

EG: `mozmaker-templates`, `mozmaker-font`

I'm not too keen on Mozmaker. Previously we had it as Foxlight, which I am more partial to, but understand the concerns with.

Regardless, it would be great to finalize this name as changing it requires a fair amount of time at this point. :+1:

[2016-03-11 22:04] davidascher commented on #54
understand the need for single-word.

foxlight is definitely not acceptable -- it has nothing to do with firefox,
which is a carefully managed brand.

--da

On Fri, Mar 11, 2016 at 12:38 PM gavin lazar suntop <
notifications@github.com> wrote:

[2016-03-14 10:06] chadsansing commented on #48
I dig the tabs - what say you, @ldecoursy, @kgorr, @amirad, & @poh?

[2016-03-14 13:13] amirad commented on #48
Looks good to me!

[2016-03-14 13:34] KGorr commented on #48
Yeah! Love it.

[2016-03-14 14:58] vazquez commented on #48
Great, I'll begin coding it up and we'll show you a working prototype next.

[2016-03-15 00:12] gvn commented on #54
Related: https://github.com/mozilla/mozmaker/issues/31

[2016-03-15 00:13] gvn commented on #54
Idea: **Leaderhosen**

CC: @simonwex

[2016-03-15 22:13] flukeout commented on #48
@vazquez @cassiemc Here's a followup from our critique earlier today where we discussed some changes to the tabs and green box...

![image](https://cloud.githubusercontent.com/assets/25212/13795838/68aedf12-eac0-11e5-8ec8-11a8209e5377.png)

As a "bonus" I messed a bit with the type treatment of the "Join us..." tagline and the workshop title so that they weren't set in the exact same style.

Appre

[2016-03-16 13:46] cassiemc commented on #48
Agreed, seems like the intro paragraph should be larger, like a subhead, and the text under the workshop title should just be a regular <p>. I'm not crazy about the italics in the header, I think it's introducing another style when we are doing well to simplify this page.

The tabs seem much better. Would probably call that second tab 'All events'. I was imagining the header 'Workshop Video Stream

[2016-03-16 15:34] vazquez commented on #48
I'll make these changes in code and get back to you with a screenshot :)

[2016-03-16 22:41] #51 closed

[2016-03-17 20:14] gvn commented on #54
Resolved:

`onesie` is our new name.

[2016-03-17 20:16] gvn commented on #54
Hmm, although...

https://en.wikipedia.org/wiki/Onesies_(brand)

[2016-03-17 20:18] gvn commented on #54
What about **1Z** ?

[2016-03-17 20:30] vazquez commented on #54
Or is it 1ZED? :P

On Thu, Mar 17, 2016 at 1:18 PM -0700, "gavin lazar suntop" <notifications@github.com> wrote:

What about 1Z ?

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub

[2016-03-17 21:08] gvn commented on #54
I still like `Dapr`.

[2016-03-17 21:14] vazquez commented on #54
+1 I like dapr too

On Thu, Mar 17, 2016 at 2:08 PM -0700, "gavin lazar suntop" <notifications@github.com> wrote:

I still like Dapr.

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub

[2016-03-17 21:23] simonwex commented on #54
This is the name of a small open source project for use by devs and designers. I'm not worried about copyright infringement. I want to put this to bed. It is called `onesie`.

[2016-03-17 21:23] #54 closed

[2016-03-17 21:35] gvn commented on #54
Pun intended? ^_^

[2016-03-17 21:37] simonwex commented on #54
Sadly no. – Good catch ;)

[2016-03-24 15:32] xmatthewx opened #59 "Give tool a functional name we love"
Hi team, I heard there's been some naming struggles over here. Despite the risk of becoming *very unpopular*, I'd like to help.

**Proposed name** –– Foundation Style

**Boring?!** –– Yes. And very descriptive, twice. Easy for new hires, contributors, and other staff to understand. No need to make it hard.

**Change it again?! Now?!** –– It will only get harder later. I received an email yesterday

[2016-03-24 15:33] xmatthewx commented on #59
Trouble like this happens because we often name a thing too early in the process. In prep for Mozilla Co's innovation initiatives, they introduced a naming convention. Every new project is called Project_______ until it graduates beyond experiment. Names can be anything, but never include Moz, Fox, or Fire. Post graduation, the project gets a good name based everything learned during prototyping a

[2016-03-24 16:16] gvn commented on #59
There's already a CSS framework called [Foundation](http://foundation.zurb.com/), so I think that's confusing give that this is a Bootstrap theme.

[2016-03-24 16:19] gvn commented on #59
See also: Issues #54 and #31

[2016-03-24 21:18] xmatthewx commented on #59
Thanks for the context @gvn. I'd only heard about the name change in conversation. It's never an easy thing, but I think it's important to get right.

Foundation might not be the right answer, but I'd still choose a descriptive name over something that doesn't have any meaning.

leadwithstyle
openstyle
networkstyle

[2016-03-30 21:06] kristinashu opened #60 "Make a presentation deck about onesie"
To gather our thoughts and make sure everyone is on the same page, lets make a presentation deck to kick off the onesie conversation.

Some things it could cover:
- why are we doing this? [design audit](https://docs.google.com/a/mozilla.com/presentation/d/13v_Rr2ypxscqSZWksLAzc5TZ8NRy0MuGSP9yK-FEKFo/edit?usp=sharing
- what does it mean?
- what are the limitations?
- who/what does it effect?
- how

[2016-03-30 21:17] xmatthewx commented on #60
@kristinashu - thanks for taking the lead on this.

The deck/conversation could also cover:
 - what's the goal?
 - what are the benefits?
 - what are our options?

As I see it, the goal of this process:
 - gain clarity and a sense of shared ownership, so we can enthusiastically, intuitively, and consistently leverage the tool.
 - steer the tool so it's useful for many use cases
 - optimize it for

[2016-03-31 18:08] mmmavis opened #61 "Remove colour shades from the demo page"
https://mozilla.github.io/mozmaker/demo/
for example,
<img width="933" alt="screen shot 2016-03-31 at 11 07 06 am" src="https://cloud.githubusercontent.com/assets/2896608/14185917/bf389d38-f730-11e5-8ef8-2695ff614c27.png">

Since the shades aren't part of the style guide / `mozmaker.css`, we should remove them from the demo page.

[2016-03-31 20:18] xmatthewx commented on #61
I might be mistaken, but I believe there will be recommended shades.  cc @kristinashu @vazquez

[2016-03-31 20:21] kristinashu commented on #61
I'm not too sure what you mean? These are the 'final' color and they all have different tints https://redpen.io/aq798f74c9a3ad7266

[2016-03-31 20:23] xmatthewx commented on #61
Maybe the final colors haven't been added to the style sheet. @vazquez ?

[2016-03-31 21:52] mmmavis commented on #61
/cc @gvn

[2016-03-31 22:10] gvn commented on #61
The base colors (what you see as 100%) are all set as named variables, so you can reference `$dino-red` or `$market-orange` in Sass that extends Mozmaker.

The variations shown are just Sass filters on those base colors, so there's not a ton of added value showing them off. We can leave them in or take them out IMO.

[2016-04-01 20:15] cassiemc commented on #32
I'm going to close this but cc @xmatthewx @lovegushwa @simonwex and @hannahkane b/c it's an interesting process problem to wrap heads around. Do we schedule monthly audits of sites/pages shipped with the cms? Do we have a review process prior to being able to publish (solved through permissions)? Do we not care, and embrace the spontaneity of self-publishing?

Feel free to file followups if it's s

[2016-04-01 20:15] #32 closed

[2016-04-01 21:48] hannahkane commented on #32
Thanks, @cassiemc. I think this is an important question that encompasses more than just branding even. I think it might be useful to have a lightweight convention for having all content reviewed before it's published, similar to how code is peer reviewed. We may not need to have permissions around it, just an agreed-upon convention. But I'm thinking more about content in general, so will defer to

[2016-04-07 22:22] gvn opened #62 "Turn on flexbox support"
See: http://v4-alpha.getbootstrap.com/getting-started/flexbox/

[2016-04-07 22:48] #62 closed

[2016-04-14 23:52] gvn opened #65 "Change base font size to 10px"
Right now we have a 16px base font size here, which makes using rems fairly cumbersome. With 10px we can do any pixel->rem math very easily (ie: 10px = 1rem).

I think 16px is a new default in Bootstrap 4. We're using a 10px base in the Science rebuild.

I feel like we should change it here too, which will require refactoring all our rems (multiply them all by 1.6).

Thoughts? @alanmoo @vazquez

[2016-04-15 11:23] vazquez commented on #65
Sorry I'm a little confused. Are you suggesting we change our base font size to 10px or 16px?

[2016-04-15 12:53] alanmoo commented on #65
I believe he's suggesting we put
[code]

[2016-04-15 17:05] gvn commented on #65
Actually, what we did on Science is:

[code]

But probably we should change Science instead of Mozmaker, as I'm realizing this is going to cause Bootstrap not to layout properly since it expects body at 1.6rem. Derp...

[2016-04-15 17:47] xmatthewx commented on #65
It might be helpful to establish a scale that designers use, something that's visually musical and sensible mathematically. For both type and layout (padding, margin, components).

10, 12, 14, ~~15~~, 16, 20, 24, ~~25~~, 28, 32, ... 48, ~~50~~ ...

Forgive me if this has been discussed previously.
cc @kristinashu @sabrinang

[2016-04-15 17:48] alanmoo commented on #65
I think that's a bit of a different issue, @xmatthewx.

[2016-04-15 18:01] xmatthewx commented on #65
How so? I'm suggesting that we do the math once, in unison, so that we never need to do that math again. In a future project, comps would utilize 3rem instead of 50px for a thumbnail. Grids, components, type, could all be optimized for both users and implementation.

[2016-04-15 18:23] gvn commented on #65
I'm gonna close this because we need to stick to how Bootstrap does it's thing and not fight the framework...

[2016-04-15 18:23] #65 closed

[2016-04-19 22:05] kristinashu commented on #60
@xmatthewx can we put this into the next heartbeat? I think a lot of the unifying style work is dependent on it.

[2016-04-20 19:26] xmatthewx commented on #60
I filed a planning ticket with a slightly different angle. Let's discuss and edit between now and Monday.

[2016-04-26 20:07] kristinashu commented on #60
Closing in lieu of https://github.com/MozillaFoundation/Design/issues/168

[2016-04-26 20:07] #60 closed

[2016-05-05 04:33] alanmoo opened #67 "Style select and input search boxes"
See example on https://redpen.io/jc2e62ed8f6f3f6ef5

[2016-06-21 16:47] gvn opened #69 "Rename to mofo-bootstrap"
With blessings from @simonwex I'm going to give this library a semantic name: `mofo-bootstrap`.

- [x] change all source based instances of `mozmaker` to `mofo-bootstrap`
- [x] rename repo
- [x] publish new npm module `mofo-bootstrap`
- [x] add [deprecation warning](https://docs.npmjs.com/cli/deprecate) to `mozmaker` npm module
- [x] migrate `mozmaker` consumers to `mofo-bootstrap`

[2016-06-21 16:59] xmatthewx commented on #69
cc @kristinashu to update universal design docs. farewell [onesie](https://www.youtube.com/watch?v=9NVvNBCg5fM).

[2016-06-21 21:53] Mte90 opened #71 "Improved demo file"
I started times ago to a BootStrap 3 theme with the style of Mozilla.org, you can find here https://github.com/Mte90/MozStrap

I suggest a demo file that contain also the navbar and the form.
I started to work on a WordPress template with mofo-bootstrap theme and i see that are missing few parts.

[2016-06-23 19:07] #69 closed

[2016-06-23 19:07] gvn commented on #59
Going with `mofo-bootstrap`

[2016-06-23 19:07] #59 closed

[2016-06-24 01:16] simonwex commented on #69
@gvn your christmas present this year is still going to be a fox onesie.

[2016-06-30 17:02] Mte90 commented on #71
The pr #72 fix that behaviours

[2016-09-01 00:04] mmmavis opened #74 "Add fira.css as dependency"

[2016-09-19 23:02] gvn opened #75 "Determine what patterns to add"
Let's work on identifying emerging patterns in our various hubs that should be added here and to mofo-ui.

What we already have added:

https://mozilla.github.io/mofo-bootstrap/demo/
https://mozilla.github.io/mofo-ui/demo/

@taisdesouzalessa since you're acquainting yourself with our work this is a good opportunity to see if you can recognize some design patterns that haven't been added already.

[2016-09-20 02:25] xmatthewx commented on #75
Works for me. Do we know all the currently sites using it?

[2016-09-20 16:56] gvn commented on #75
- https://science.mozilla.org/ – Mofo UI & Mofo Bootstrap
- https://learning.mozilla.org/en-US/ – Mofo UI
- https://mozilla.github.io/womenandweb/ – Mofo Bootstrap
- Schedule app – uses Mofo Bootstrap...I think?

[2016-09-20 16:57] gvn commented on #75
There may be others. If we're just visually seeing patterns between other properties we should take note of them as well...

[2016-09-20 17:50] xmatthewx commented on #75
Yep. I believe [Pulse](https://mzl.la/pulse) is using it as well (though maybe still on staging).

[2016-09-20 19:17] kristinashu commented on #75
Yes, [MozFest website](https://github.com/MozillaFoundation/2016.Mozillafestival.org), [event app](https://github.com/mozilla/mozfest-event-app), and [Pulse](https://github.com/mozilla/network-pulse) all use Mofo Bootstrap but are still on staging. They aren't using much from it, but they are using it.

cc @mmmavis

[2016-09-25 22:04] mmmavis commented on #75
Sorry @kristinashu I should've checked earlier - MozFest site isn't using mofo-bootstrap currently, it's just using Fira. However, mofo-bootstrap will be included in my [Team Page PR](https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/96) and we should be able to utilize the shared package more and remove tons of the existing MozFest site CSS. ✨

[2016-09-26 21:53] taisdesouzalessa commented on #75
Hey @kristinashu @sabrinang @flukeout, I talked to Gavin today about the elements I should focus on first - I wanted to do a mini version of the Library first to show you and see if you think it would be useful for the team - and some questions emerged.

I was wondering which color palette I should move to the Craft Library: the one we have on mofo-bootstrap/demo/ our the one in the Sketch file?.

[2016-09-26 23:57] kristinashu commented on #75
Awesome! For colors, we should be using the sketch version (similar but with more greys!).

I don't think we have many forms built?

[2016-09-27 18:36] xmatthewx commented on #75
For the colors, it also looks like the tints and shades are slightly different. Run with sketch and we can adjust bootstrap to follow.

Forms are tucked away in a few places. Definitely room for improvement and more consistency.

https://learning.mozilla.org/en-US/ > Get Updates

<img width="541" alt="screenshot 2016-09-27 14 29 49" src="https://cloud.githubusercontent.com/assets/53411/18886758/48

[2016-10-05 20:18] alanmoo commented on #75
Form elements are going to be something that's super useful to have fleshed out for upcoming work on the Science site.

[2016-10-20 21:00] gvn opened #77 "Refactor versioning hooks"
- Don't need to commit and uncommit dest. Can just use npmignore instead.
- Version commits are happening post-tag

[2016-10-25 19:34] gvn opened #78 "Remove nodegit"
`nodegit` is adding a ton of overhead and isn't working correctly either w. latest Node (v7). Probably best to remove it...

[2016-11-08 21:38] #78 closed

[2016-11-08 21:43] #77 closed

[2016-11-08 22:38] gvn opened #83 "Refactor to use `shx`"

[2016-11-10 19:02] #83 closed

[2016-11-15 23:22] taisdesouzalessa opened #88 "Define Display Headings and add to the Pattern Library"
CONTEXT: We decided to make weekly meetings with engineers to evolve our Component/Pattern Library. The agreement is that we will start with little, basic and important elements first and evolve to more complex components as we go. In this way, we guarantee we can move on with this project and fit it into our schedules. You will see a series of tickets in this repo, with the tag Design, that refle

[2016-11-15 23:22] kristinashu opened #89 "Colour updates"
Final colours the design team settled on (https://github.com/MozillaFoundation/Design/issues/139) are slightly different than what appears on the [demo page](https://mozilla.github.io/mofo-bootstrap/demo/).

We have https://redpen.io/aq798f74c9a3ad7266
<img width="1012" alt="red-pen-795c21c7-82b8-4e28-e37d-2868c2c4a7fe" src="https://cloud.githubusercontent.com/assets/1068783/20328017/e09001ce-ab44

[2016-11-15 23:29] kristinashu commented on #28
Opened https://github.com/mozilla/mofo-bootstrap/issues/89 and closing this ticket.

[2016-11-15 23:29] #28 closed

[2016-11-15 23:29] taisdesouzalessa opened #90 "Research Boostrap Grid and multipliers"
Research if there is an existing grid system in Sketch format for Bootstrap 4 and also what are the default multipliers for Bootstrap to see if they make sense to our design system.
If there is no existing grid: build one in Sketch
When we find the multipliers, adopt them in our library as spacings. Like this cool example from [AirBnb](http://airbnb.design/building-a-visual-language/):
<img width=

[2016-11-15 23:30] kristinashu commented on #61
I think it's valuable to show the different colour tints since we want people to use them.

[2016-11-15 23:30] #61 closed

[2016-11-15 23:39] kristinashu opened #91 "Add icons"
@flukeout is gathering all of our icons but I'm wondering how we should implement them on to our sites?

Should we make them into an icon font or use them as individual SVGs? Would we add them to bootstrap?

cc @gvn @alanmoo @sabrinang @taisdesouzalessa

[2016-11-15 23:57] gvn commented on #91
My instinct is to not make icons part of `mofo-bootstrap`.

I think having a separate Icon font would probably make sense.

[2016-11-15 23:58] kristinashu opened #92 "Add Footer"
Footer design is quite established so this is ready to be added. Related design ticket https://github.com/MozillaFoundation/Design/issues/164

Not all footers would have all of these links and some might have new ones.

![320px - footer](https://cloud.githubusercontent.com/assets/1068783/20329167/79254d44-ab4b-11e6-80b0-95617723160c.png)
![480px - footer](https://cloud.githubusercontent.com/assets

[2016-11-15 23:59] gvn commented on #92
Just a note that this should probably be a `mofo-ui` component.

[2016-11-15 23:59] flukeout commented on #91
Heck yes @gvn - icon fonts all day every day. We COULD continue work on https://github.com/flukeout/mozmaker-icon-font

[2016-11-16 00:01] gvn commented on #91
That seems like a good idea! Can we rename it to `mofo-icon-font` or something `mofo-` prefixed?

[2016-11-16 00:03] gvn commented on #89
`mofo-bootstrap` uses Sass (which is now our standard CSS preprocessor).

The variations are done with `rgba` values.

[2016-11-16 00:08] flukeout commented on #91
Oh for sure, name is up for grabs and we can move it to a mozilla repo. "mozmaker" haha.

[2016-11-16 00:27] kristinashu opened #93 "Form design"
Based on old design ticket https://github.com/MozillaFoundation/Design/issues/165 and examples in https://github.com/mozilla/mofo-bootstrap/issues/75

Should be based on Bootstrap http://getbootstrap.com/css/#forms (does Boostrap 4 have forms?).

[2016-11-16 14:16] alanmoo commented on #93
http://v4-alpha.getbootstrap.com/components/forms/

[2016-11-16 17:26] kristinashu opened #94 "Add sketch file to repo"
Once we have a few styles and components in our sketch file, we should add it to this repo.

cc @sabrinang @taisdesouzalessa

[2016-11-16 17:28] kristinashu commented on #75
Things we identified as next steps:

Designers:
- design forms https://github.com/mozilla/mofo-bootstrap/issues/93
- make an icon font https://github.com/mozilla/mofo-bootstrap/issues/91
- check mofo-ui grids https://github.com/mozilla/mofo-bootstrap/issues/90
- check mofo-ui fonts https://github.com/mozilla/mofo-bootstrap/issues/88
- add Sketch file to repo https://github.com/mozilla/mofo-bootstr

[2016-11-16 19:28] taisdesouzalessa commented on #91
We could add those icon fonts to our pattern library so we have a central place to grab them for design comps. Here is an example
![icon-fonts](https://cloud.githubusercontent.com/assets/22157921/20362162/62e5a73c-abef-11e6-9931-c428665aab5a.jpg)

@flukeout please let me know where I can grab the font file for those icons.

[2016-11-16 20:56] alanmoo commented on #88
This is a standard Bootstrap element. The idea behind it is that an `<h1>` element in the body content of a page is part of a different typographic rhythm than one in a jumbotron or other prominent featured heading of a page. We've got a little bit of custom styling regarding these that I'd like to reduce if possible, so this is a good topic for our next meeting.

[2016-11-16 22:06] kristinashu commented on #91
@taisdesouzalessa I think when we're using icons in comps we would use the icon font. This way we only need to maintain the one file (rather than the font and the Craft Library). Using the font in comps might also help dev determine the individual icon font sizes.

[2016-11-16 22:49] flukeout commented on #91
Cool, I combed through all of our sites and added all of the icons into the icon font I created a while back. Here they all are...

* https://flukeout.github.io/mozmaker-icon-font/

You can right-click to download each ``.svg`` file as well.

Let me know if something is broken or missing.

[2016-11-16 22:53] flukeout commented on #91
There are still a bunch of icons in Thimble that I haven't incorporated. So I'll work on that next, they're listed in...

https://github.com/flukeout/mozmaker-icon-font/issues/4

[2016-11-16 23:43] taisdesouzalessa commented on #91
@kristinashu we would incorporate the icons in the font format in the Craft Library (I think my screenshot was not clear about it, sorry for that). I agree with you it should be a font so dev knows the size and Craft allows that. The second point you raised, about having to keep 2 files...on one hand I agree it is work to keep 2 files but on the other hand I think having all the assets in one plac

[2016-11-17 00:13] flukeout commented on #91
Might move this stuff into https://icomoon.io instead of Glyphter (to generate the font file), we have too many icons for the free version of Glyphter. This might change how the icons are used, will investigate.

[2016-11-17 04:44] alanmoo commented on #91
https://cloudfour.com/thinks/seriously-dont-use-icon-fonts/

*runs away*

[2016-11-17 17:24] flukeout commented on #91
Interesting read @alanmoo - I'm happy to experiment with SVGs, one of the best things about an icon font is the ability to change the color of the icon easily, if we can achieve that with SVGs - then that would be a big win. Have you tried it? I haven't experimented.

Another benefit is that they auto-size to the content you're embedding them into, which is nice for icons beside text. Can we addre

[2016-11-17 17:32] flukeout commented on #91
Looks like some of that stuff is addressed in the article - I'll dig around some more.

[2016-11-17 17:32] alanmoo commented on #91
Yeah, I know there are useful cases for icon fonts like that, my biggest concern is the accessibility issues. (Unless you can pull off whatever magic https://symbolset.com/ is doing).

That being said, I unfortunately don't have the time to dig into this, I just wanted to bring up the topic in case someone else happens to have the bandwidth to look into it.

[2016-11-17 17:48] taisdesouzalessa commented on #91
Thanks for sharing this article, @alanmoo. It made me think about so many other issues I didn't consider. I agree that accessibility is a big issue in favour of not using the icon font.
@flukeout about changing colours of svgs, maybe this article can help? https://css-tricks.com/cascading-svg-fill-color/

[2016-11-17 17:51] alanmoo commented on #91
Keep in mind there's probably ways to automate these things/make them easier to use in the implementation side, it's just a matter of sorting that out and building it into our repos. For the design side, it may still be easier to use fonts, I just want to make sure whatever we do meets the needs of not just us but our users.

[2016-11-17 19:41] kristinashu commented on #89
So if we wanted to use the lightest blue over an image, would that work? Or would it be too transparent? If that's the case, can we use Sass to get the lighter colours as well?

[2016-11-17 21:36] gvn commented on #89
We probably should use a color function other than changing opacity for the palette.

Sass can do a lot of color manipulations: http://sass-lang.com/documentation/Sass/Script/Functions.html

In this case, [lighten](http://sass-lang.com/documentation/Sass/Script/Functions.html#lighten-instance_method) looks like the right choice.

[2016-11-17 22:29] alanmoo commented on #89
I regenerated the colors based on the Sass lighten/darken algorithms. They're slightly different but this'll make things a lot easier. Any concerns with using these instead? (Ignore the grays, I'll hard code those).

<img width="1223" alt="screenshot 2016-11-17 17 28 32" src="https://cloud.githubusercontent.com/assets/1682681/20410491/4f9f6490-aceb-11e6-9811-21fada962d59.png">

[2016-11-17 22:53] kristinashu commented on #89
These look great!

[2016-11-17 23:39] taisdesouzalessa commented on #88
Thanks for the context, @alanmoo. I put together a sheet comparing the Mofo Bootstrap we have on [this page](https://mozilla.github.io/mofo-bootstrap/demo/) with current implementation so we can see real scenarios in which this standard is used (or variants of the standard). I still have to incorporate mobile view on this but here is what I have so far:

![jumbotron](https://cloud.githubuserconten

[2016-11-17 23:45] taisdesouzalessa commented on #88
Some questions that came to my mind were:
• should we apply the standard elements in future websites or are we applying also retroactively?
• should we have a responsive view of the MOFO Bootstrap so we see those elements scaling for mobile as well?
• Considering the various contexts of use, what is an ideal size and line height for those headings?
• Is alignment included in the pattern's rule?
•

[2016-11-21 15:41] alanmoo commented on #88
* On future websites, sure we should apply standard elements whenever possible. On existing sites, there's a varying amount of effort required for something that probably won't have an impact in the bigger picture.
* The demo should be responsive, though most elements shouldn't really change much at smaller viewports.
* I do recall some line height adjustments in MoFo Bootstrap for different scree

[2016-11-22 18:25] taisdesouzalessa commented on #90
The responsive default breakpoints for bootstrap are:
1. @media (min-width: 544px) { ... }
2. @media (min-width: 768px) { ... }
3. @media (min-width: 992px) { ... }
4. @media (min-width: 1200px) { ... }

I was taking a look at the [Science](https://science.mozilla.org) site and all breakpoints match the default from bootstrap except the 1. Ours seem to be 576px.

![tabs-576](https://cloud.githubus

[2016-11-22 18:51] alanmoo commented on #90
Bootstrap 4's smallest breakpoint is 576px, so that's why the science site is using it. http://v4-alpha.getbootstrap.com/layout/grid/#grid-options

[2016-11-22 19:59] taisdesouzalessa commented on #90
That's interesting...I got the breakpoints from here (which seems to be from Bootstrap 4 too): http://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints
Thanks for the info @alanmoo :)

[2016-11-22 20:10] alanmoo commented on #90
Ah, that looks like a bug in the documentation...I'll file a PR to have them update it.

[2016-11-22 20:58] taisdesouzalessa commented on #90
Here are the multipliers based on code inspection in their [demo page](http://v4-alpha.getbootstrap.com/examples/jumbotron/):

![multipliers](https://cloud.githubusercontent.com/assets/22157921/20541654/050a784a-b0b3-11e6-8057-973a2ea23f21.jpg)

QUESTIONS:
- Are we using the default Bootstrap multipliers from now on? Font size 16px, line-height:24px (1.5em).
- What are the key breakpoints we shoul

[2016-11-22 21:01] kristinashu commented on #91
@flukeout created a repo with the icon font https://github.com/mozilla/foundation-icons

[2016-11-22 21:19] kristinashu commented on #92
@flukeout is possibly interested in styling this!

[2016-11-22 22:33] kristinashu commented on #94
We can add this folder link to the Readme file:
https://drive.google.com/drive/folders/0B2irLVDJivhLY09mcTlFWWhPMVk?usp=sharing
The folder is in: Google Drive / Design Assets / UI Toolkit / Shared Toolkit / [latest sketch file]

It allows anyone with the link to view/download the Sketch file. We will have to make sure the file in that folder is the most recent and we are all working off of it.

@t

[2016-11-22 22:57] taisdesouzalessa commented on #90
Summary of our talk on this subject:
- Find a balance between design needs and coding needs. Concern: being very prescriptive. From the design standpoint we need some rules to build a system around.
- Alan showed us the system behind the items we can customize:
[variables.scss](https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss). Our version of that file, right now: [overrides/_var

[2016-11-22 23:05] taisdesouzalessa commented on #88
Summary of the talk on this subject:
- Consider the system behind the items we can customize: [variables.scss](https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss). Our version of that file, right now: [overrides/_variables.scss](https://github.com/mozilla/mofo-bootstrap/blob/master/src/scss/overrides/_variables.scss)
- Mofo Bootstrap [CSS overrides](https://github.com/mozilla/mofo-

[2016-11-22 23:20] taisdesouzalessa commented on #94
Here are the instructions on how to install Craft and import our Library:
https://docs.google.com/a/mozilla.com/document/d/1RII8kKpbTh-Ysa-Fg2Xq3Nb1IMgoMjVBdQcAEXGHie8/edit?usp=sharing

The library is at very early stage and we are discussing and agreeing in items to add as we go - items that we have there are not finalized.

Illustrations-library (where our illustrations live - or will live): htt

[2016-11-24 23:13] mmmavis commented on #90
@taisdesouzalessa +1 on what has been discussed. Happy to chat about it sometime next week when we are both in the office. 👍

[2016-11-29 19:37] #52 closed

[2017-01-05 22:34] mmmavis commented on #92
@gvn I can work on this today or tomorrow. I can't decide on this though - do you think the CSS code should be part of `mofo-bootstrap` or `mofo-ui`?

[2017-01-05 23:19] alanmoo commented on #92
I might be missing some recent context, but I'd imagine this could be written completely without custom CSS. It should be in MoFo-UI either way though, as it is a component, and mofo-bootstrap is meant to just be a customized version of Bootstrap, last I recall us talking about it.

[2017-01-05 23:24] gvn commented on #92
Just to recap:

@mmmavis Let's start by building the footer in `mofo-bootstrap` as a static "partial".

Since `mofo-bootstrap` is a dependency of `mofo-ui` we can later make a corresponding footer React component if we feel it is beneficial. The CSS for the React component would then come from `mofo-bootstrap`.

This way non-React projects can still use the shared footer CSS.

[2017-01-05 23:27] mmmavis commented on #92
Ah good point. I was seeing `mofo-boostrap` more like just a shared MoFo styling thing.

@alanmoo @gvn should we override anything in https://github.com/twbs/bootstrap/blob/3f01134031b15a934d5e233bb26a407a7e05492b/docs/assets/scss/_footer.scss ? colours? sizing?

[2017-01-05 23:29] gvn commented on #92
This is a brand new, non-Bootstrap partial, so you won't be overriding any existing stuff.

[2017-01-05 23:29] alanmoo commented on #92
Sounds reasonable, though I'd really like to see this add as little CSS as possible, because I believe the Bootstrap 4 classes can handle almost all of this.

@mmmavis, looks like that scss file is in the docs directory, not part of bootstrap proper.

[2017-01-05 23:30] gvn commented on #92
Agreed.

[2017-01-05 23:35] gvn commented on #92
Also just to clarify: yes, this is a departure from the intended "purity" of `mofo-bootstrap` being *just a Bootstrap theme*. However, given our diversity of needs (eg: mix of React and non-React projects) I think it's the best path to take.

[2017-01-05 23:45] alanmoo commented on #92
For the footer specifically, I can see that. I do think there's a use case for a react component though, I've seen some variants on the footer that could be addressed by props being passed in. Or we need to be really strict about the design of the footer.

[2017-01-05 23:54] gvn commented on #92
Yep, we can totally make it a React component as well. 👍

Let's just start with the static version in `mofo-bootstrap`.

[2017-01-05 23:58] mmmavis commented on #92
I'm thinking style and layout should stay the same. A React component on `mofo-ui` should be useful as we can allow sites to adjust footer links accordingly.

[2017-01-05 23:58] mmmavis commented on #92
I'll start with `mofo-bootstrap` and have both of you review my PR. :clinking_glasses:

[2017-01-09 20:27] #89 closed

[2017-01-09 23:28] kristinashu commented on #93
We can use the form style that is being designed for in Pulse v2: https://redpen.io/nvd9c7a75f06c79e35 and https://redpen.io/ov0d7f8ba9c437ee56

[2017-01-10 20:23] mmmavis commented on #92
@kristinashu what colours should I use for regular text and links (default and hover state)?

[2017-01-10 20:25] alanmoo commented on #92
Note that MoFo-Bootstrap has been updated. https://mozilla.github.io/mofo-bootstrap/demo/

(Any slight variances in the color codes are due to the difference in LESS and Sass's darken/lighten methods, but I used the same percentages to calculate them)

[2017-01-10 20:44] kristinashu commented on #92
@mmmavis what you wrote sounds good!

[2017-01-10 21:45] mmmavis commented on #92
@kristinashu or @taisdesouzalessa can either of you help consolidate all the footer icons that are used across our MoFo sites? 😉 :clinking_glasses:

[2017-01-13 21:32] kristinashu commented on #92
@mmmavis here are all the icons: [footer icons.zip](https://github.com/mozilla/mofo-bootstrap/files/705403/footer.icons.zip)

I've also updated the comp with a few more icons and put them into a more logical order:

![1200px - footer](https://cloud.githubusercontent.com/assets/1068783/21946326/c253de82-d994-11e6-9103-27c93792216f.png)

[2017-01-13 21:36] flukeout commented on #92
Will you be using the icon font for these? Hopefully you can give it a try! If you have issues or problems with it, or want me to add some icons that aren't there, I'd be happy to!

* https://mozilla.github.io/foundation-icons/

[2017-01-13 23:15] kristinashu commented on #92
One more icon for Cookies:
[icon-cookies.svg.zip](https://github.com/mozilla/mofo-bootstrap/files/705541/icon-cookies.svg.zip)

[2017-01-14 00:17] flukeout commented on #92
@gvn @alanmoo Are you planning or wanting to use the icon font in mofo-ui (or whatever will contain the footer component)?

Let me know your thoughts, I can help.

[2017-01-17 17:31] gvn commented on #92
Hmm. There's a lot of icons in there that most sites won't use, so I'm not sure we should make `foundation-icons` a dependency of `mofo-bootstrap`.

How large is the font? How much more do we plan on adding? Are any projects currently using it?

I don't foresee `mofo-bootstrap` needing a ton of images. So far the footer is the only use case and it's kind of an outlier to begin with since it's a no

[2017-01-17 17:47] flukeout commented on #92
It's 46kb and does indeed have a ton of components. If you decide that an icon font is good practice for our needs, then I'm happy to trim & update the font. Otherwise, let's shelf it - it seems like a good thing for a mature / stable site or product, but it's a pain in the ass to update.

[2017-01-17 17:48] alanmoo commented on #92
I think the ideal way to handle icons would be some way to only pull in the ones we use on a given site. No idea how we'd go about that though, probably via SVGs instead of font characters...

[2017-01-18 18:31] kristinashu commented on #92
They haven't actually shared an svg version (or the font) for the new logo so might have to stick with the old one for now. Unless, @sabrinang do you have an svg version of the new logo?

[2017-01-18 19:50] mmmavis commented on #92
That's fine. Can you link me to the current logo svg file? @kristinashu

[2017-01-19 00:03] kristinashu commented on #92
@mmmavis here you go
[Mozilla.svg.zip](https://github.com/mozilla/mofo-bootstrap/files/715360/Mozilla.svg.zip)

[2017-01-21 18:17] Rishabh04-02 commented on #6
@gvn What are the things you wish should be reflected through the CONTRIBUTING.md file?

[2017-01-21 18:20] Rishabh04-02 commented on #6
@gvn what things you want, that should be reflected in CONTRIBUTING.md file?

[2017-01-24 18:25] kristinashu commented on #92
Sorry, we have the new logo now... can you please update with this one:

[logo-mozilla.svg.zip](https://github.com/mozilla/mofo-bootstrap/files/727585/logo-mozilla.svg.zip)

Please and thank you!

[2017-01-31 19:57] mmmavis opened #99 "Mention namespace prefix "mofo-" for custom component classes in README"

[2017-01-31 20:31] #92 closed

[2017-01-31 23:01] gvn commented on #92
![itclap](https://cloud.githubusercontent.com/assets/206379/22488315/1ff1ee50-e7c6-11e6-83b9-2a6876927bb4.gif)

[2017-02-02 18:27] mmmavis opened #100 "Missing one footer icon"
https://github.com/mozilla/mofo-bootstrap/issues/92#issuecomment-272573805
the cookie icon 🍪

[2017-02-06 20:36] mmmavis opened #102 "Default button's font-family to Fira"
related: https://github.com/mozilla/nsf-challenge/pull/16

thoughts? @alanmoo @gvn

[2017-02-06 21:28] alanmoo commented on #102
It looks like this comes down to the fact that Normalize inside Bootstrap sets `button { font-family:sans-serif;}`, but `.btn` doesn't set a font, so `a.btn` has Fira but `button.btn` doesn't.

I kind of get why bootstrap does this, but it's not great. I wouldn't be opposed to adding `.btn{font-family: inherit}` or even `font-family: "Fira Sans"` since it is our customization of Bootstrap, after a

[2017-02-07 00:30] #100 closed

[2017-02-07 00:43] gvn commented on #102
I actually just noticed this today. Let's probably use `inherit` since we may be switching off Fira soon with the new branding.

[2017-02-08 12:27] comzeradd opened #105 "Add this to bower registry"
It would be nice if this was included at [Bower](https://bower.io/) as well. This would make it easier for non-node projects to include and use the theme as part of their frontend dependencies workflow.

[2017-02-08 16:01] alanmoo commented on #105
A project doesn't have to be node-based to use npm. Since Bower is installed by npm, that means you have npm installed already and could directly use it. What's the benefit of using Bower instead of npm for dependency management these days?

[2017-02-08 17:13] comzeradd commented on #105
In theory you can use npm for frontend dependencies, but it's not optimal. You'll see even node projects that use both tools to separate backend and frontend libraries. The reason is that bower is tailored for frontend dependencies specifically and is optimized around this use case (eg. more lightweight, flat dependencies resolving).

I understand if this is not a priority. I was just curious if i

[2017-02-13 16:00] alanmoo commented on #105
I'm not opposed to this, but I'm also not convinced it's necessary. If anything, perhaps our single Bootstrap dependency can be moved to `devDependencies` so it is indeed flat. If @gvn's good with it, I'd say we'd accept a PR for Bower support.

[2017-02-13 18:45] gvn commented on #105
Hi @comzeradd. Thanks for your thoughts. Since this is a library intended for internal Mozilla Foundation development and we don't use Bower, I don't feel like we should add it to the registry. That signals an intent that we will always ensure Bower compatibility, which isn't the case. It also signals that it's intended for general usage for non-Mozilla work, which is also false.

[2017-02-13 19:27] alanmoo commented on #105
He is referring to Mozilla work

[2017-02-13 19:57] #102 closed

[2017-02-16 22:40] fitojb commented on #102
For the record, Fira is [staying](https://mozilla.ninja/typography) in the new branding. It wouldn’t be good taste to use a seriffed typeface intended for display sizes in body text.

[2017-02-17 00:38] gvn commented on #102
Either way, `inherit` will work for what we're trying to accomplish here.

[2017-02-17 22:02] kristinashu opened #106 "Single column line length is too long"
Main usability problem here is that there are too many words per line, which makes it difficult to read. I think we need to do two things:
1) Increasing the body text size _(slightly)_
2) Decrease the max content width for single column layouts

Some examples:

This is how it looks on the [demo page](https://mozilla.github.io/mofo-bootstrap/demo/):

<img width="1412" alt="screen shot 2017-02-17 at

[2017-02-17 22:42] taisdesouzalessa commented on #106
Good point @kristinashu. I agree that line width can and should be smaller. Usually it is recommended 75 characters.

For the Network website, I would recommend to use [the mockup](https://invis.io/ZJ9YTAGEA#/216715351_About) as a reference
<img width="1003" alt="screen shot 2017-02-17 at 2 21 58 pm" src="https://cloud.githubusercontent.com/assets/22157921/23085511/09d19d50-f51d-11e6-9144-c5419ffd

[2017-02-17 22:43] alanmoo commented on #106
With regards to the width of the lines, this isn't a Bootstrap issue at all; Designs should simply describe how many columns (out of a possible 12) a block of text should take up at various screen sizes.

For example: 12 columns wide up to medium viewports, then 10 columns for large and XL.

We do have the ability to change the viewport breakpoints and the width of the grid at various breakpoints,

[2017-02-17 23:19] kristinashu commented on #106
All sounds excellent!

Ideally, base font size would be the same on all our sites.

[2017-02-22 17:24] alanmoo opened #107 "Figure out how to/document how to customize color scheme per-site"
Many of our sites seem to use the same components but specific color schemes, such that our primary button colors and the like aren't useful. In our documentation (and code, if necessary), we should describe how to override the color scheme for easy use across an entire site. For example, the MozFest site uses a neon pink as its primary color. `.btn-primary` and `btn-primary-outline` should use th

[2017-03-04 15:46] dhiraj161298 opened #108 "Text overflows on small screen devices."
As stated [here](https://github.com/mozilla/science.mozilla.org/issues/582#issuecomment-284156331) The text with h2 (and also h1 tags) overflow on small screen devices.

![ca0d8f7e-00db-11e7-80fa-1bab8cebd77c](https://cloud.githubusercontent.com/assets/4402679/23580025/a1012a2a-011f-11e7-8431-8369cabdb204.png)

[2017-03-06 04:26] alanmoo commented on #108
This specific case has to do with the word length. While it's not an exceptionally long word, I believe this is an issue to be addressed in the science repo. If you want to discuss viewport based typograhy, check if any issues exist within this repo (or Bootstrap itself). If not, go ahead and open one. I've felt like it's something we could make use of, but it takes a lot of coordination to get it

[2017-03-06 04:26] #108 closed

[2017-03-14 18:53] Pomax opened #109 "https://mozilla.github.io/mofo-bootstrap/demo/ seem to get a 404 for mofo-bootstrap.css"
Loading up https://mozilla.github.io/mofo-bootstrap/demo in the browser and hitting up the network tab reveals a 404 for the actual mofo-bootstrap.css file, so I'm not sure if what the site presents is actually our style or just bootstrap looking decently enough.

[2017-03-19 19:15] alanmoo opened #110 "Update to new brand styling?"
I'm seeing various sites being designed that use the new branding language- Is this something we need to start building in to this repo? How much needs to be changed vs just adding a few extra useful classes for the "highlight" style?

@gvn @taisdesouzalessa @kristinashu @sabrinang

[2017-03-20 23:01] mmmavis opened #111 "Set $enable-hover-media-query to true"
Follow Bootstrap's suggestion to remove sticky hover effect on touchscreen devices: https://v4-alpha.getbootstrap.com/getting-started/browsers-devices/#sticky-hoverfocus-on-mobile

Related ticket: https://github.com/mozilla/network-pulse/issues/427#issuecomment-287911387

[2017-03-21 21:24] AkshayGulhane commented on #109
@Pomax, @alanmoo can I pick this issue? I would be really happy to help!

[2017-03-22 14:32] alanmoo commented on #109
Sure @AkshayGulhane. Basically: figure out where/how mofo-bootstrap.css is being pulled in such that it's resulting in a 404, but also if it's included somewhere else which is being used to render the page. The solution is probably a single line of code that needs to change.

[2017-03-22 19:24] kristinashu commented on #110
Once the new brand direction is more concrete, we will need to update things. We will have a new font (the highlight feature will eventually be built into the font) and new colors... But I believe the general component layouts will be the same.

[2017-03-22 20:32] AkshayGulhane commented on #109
Thanks @alanmoo!
I have figured out what the issue is.
There is no "mofo-bootstrap.css" file in the /css folder, instead, the "demo.css" is rendering the styles on this page.

**Possible Solution:**
Rename the "demo.css" to "mofo-bootstrap.css" and remove the reference to "demo.css" from index.html
or
Remove the reference of "mofo-bootstrap.css" from index.html

Please let me know if I can submit

[2017-03-22 21:00] alanmoo commented on #109
I see that `demo.scss` imports `mofo-bootstrap`, if you remove that line though, can you see why mofo-bootstrap doesn't get generated into its own CSS file?

Ideally, the demo and mofo-bootstrap files would be separately linked from the HTML, so it's clear that `demo.css` is just a set of extra styles for the demo page that work on top of the main `mofo-bootstrap.css` styles.

[2017-03-23 22:07] mmmavis commented on #111
I tried setting `$enable-hover-media-query` to `true` but it didn't do anything. I looked into the source code and found out some chunks have been commented out since the alpha6 release: https://github.com/twbs/bootstrap/blob/890c6041f3bf70b76244611916bc1286a8150bd5/scss/mixins/_hover.scss#L1-L15 We'll have to put this ticket on hold until the flag is ready for use again.

[2017-03-31 18:21] kristinashu commented on #110
Do you think it's safe to just update what we have? How would our old sites be affected?

cc @mmmavis

[2017-03-31 19:21] alanmoo commented on #110
We use semantic versioning so old sites would continue to use the old version of MoFo-Bootstrap with no problem.

[2017-04-18 18:01] kristinashu commented on #110
At today's stand we decided the new branding is still in too much flux to be added.

When we are ready to start updating it, we will make the current version a legacy one and then have a separate new one with the new branding.

New branding will trickle in, I suspect the order will be:
- Zilla headline font (soon) - body font still TBD
- logo as a font (soon)
- black and white with fewer greys
- c

[2017-04-18 18:03] kristinashu commented on #93
@mmmavis would you be up for us 'perfecting' the form styles in Pulse and then when we're happy with then, add it to mofo boostrap?

[2017-04-18 22:06] mmmavis commented on #93
Sure! Do we have a list of things that we'd like to improve?

[2017-04-18 22:08] kristinashu commented on #93
I think mostly how we handle form errors.

[2017-08-03 00:25] mmmavis opened #112 "Update footer's background colour from $gray-dark to $black"
@kristinashu mentioned

[2017-08-11 19:42] mmmavis opened #114 "Update default font-family to Zilla Slab"

[2017-08-14 17:32] #112 closed

[2017-08-14 17:32] #114 closed

[2017-08-14 17:49] mmmavis opened #117 "Replace references to "Fira Sans" with "Zilla Slab""
for example, on the demo page...
<img width="302" alt="screen shot 2017-08-14 at 10 45 57 am" src="https://user-images.githubusercontent.com/2896608/29284089-34f92442-80de-11e7-93ef-a436dff8daa4.png">

[2017-08-14 19:00] #117 closed

[2017-08-15 21:47] mmmavis opened #119 ".btn should be in Open Sans not Zilla Slab"

[2017-08-15 22:15] #119 closed

[2017-12-12 05:25] jayyyin opened #122 "Add link to Participation Guidelines in footer"
https://github.com/mozilla/foundation.mozilla.org/issues/235
I'm under the impression that these changes have to take place here, so I'm going to reference this so I get some feedback from people here too.

[2017-12-12 15:17] jayyyin commented on #122
@gvn  @kristinashu so I opened this issue, and I've found the footer file and I was wondering how the "url" string is generated, is there something you guys use to put a url through to make that format? and also how would I get the svg into the list?

[2017-12-14 06:04] gideonthomas commented on #122
@jayyyin, please look at my comment [here](https://github.com/mozilla/foundation.mozilla.org/issues/235#issuecomment-351616560) before continuing with this issue.

For this specific issue: the lines that need to be changed are here: https://github.com/mozilla/mofo-bootstrap/blob/master/src/index.pug#L238-L239.
We use a templating library called [pug](https://pugjs.org/api/getting-started.html) whi

[2017-12-14 20:24] jayyyin commented on #122
@gideonthomas alright I've made the changes what needs to be done in package.json?

[2017-12-18 21:32] #122 closed

[2017-12-18 21:37] gideonthomas opened #125 "Update mofo-bootstrap on npm"
With 776eccb4b0464efde804a5c08766e8b68e5f2aa3 landing, it introduces a breaking change, so we should do a version bump in package.json and on npm.

cc @gvn

[2017-12-18 21:43] gvn commented on #125
[Done](https://github.com/mozilla/mofo-bootstrap/releases/tag/v4.1.0)

[2017-12-18 21:43] #125 closed

[2018-10-03 19:54] #111 closed

[2018-11-13 14:22] #105 closed

[2019-02-17 18:55] moz-hwine opened #131 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/mofo-bootstrap/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacemen

[2019-03-29 17:11] Mozilla-GitHub-Standards opened #132 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-06 04:33] #132 closed